* {
    font-size: 10px;
    line-height: 1;
    font-family: "Noto Sans JP", "Droid Sans", Helvetica, YuGothic, "Yu Gothic", "游ゴシック体", "游ゴシック", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Arial, sans-serif;
    color: #414141;
    margin: 0;
    padding: 0;
}

body {
    width: 300px;
}

header {
    position: fixed;
    top: 0;
    width: 300px;
    background-color: #12b8d7;
    padding:  0;
    background-image: url(popup_bg.png);

    div {
    height: 60px;
	background-image: url(main_conoha.png);
	background-repeat: no-repeat;
	background-position: top left ;
	background-size: auto 60px;
    }

    h1 {
	padding: 20px 0 0 95px;
	
	span {
	    display: inline-block;
	    font-size: 16pt;
	    font-weight: bold;
	    color: #FFF;
	}
	
	strong {
	    position: relative;
	    top: -8px;
	    left: 2px;
	    transform: rotate(-20deg);
	    transform-origin: left top;
	    display: inline-block;
	    font-size: 8px;
	    padding: 0px;
	    color: #FFF;
	    background-color: #ff811e;
	    border: 1px solid #dd710e;
	    font-weight: bold;
	    border-radius: 2px;
	}
    }
    
    p.reset {
	margin-top: 5px;
	margin-right: 5px;
	text-align: right;
	vertical-align: bottom;
	font-size: 8px;

	a {
	    cursor: pointer;
	    color: #EEE;
	    &:hover {
		color: #555;
		text-decoration: underline;
	    }
	}
    }
}


article {
    width: 290px;
    margin: 0px auto;
    padding-top: 60px;
    background-color: #12b8d7;
    border-left: 5px solid #12b8d7;
    border-right: 5px solid #12b8d7;
    border-bottom: 5px solid #12b8d7;
}

ul#backgrounds {
    background-color: #FFF;
    border-radius: 2px;
    list-style-type: none;
    padding: 10px 5px 0 5px;
    
    li {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
    }
    
    img {
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	width: 60px;
	border-radius: 2px;
    }
    
    img:hover {
	transition: all 0.2s;
	transform: scale(1.3);
    }

    a {
	cursor: pointer;
	transition: all 0.2s;
	filter: brightness(75%);
    }
    
    a:hover {
	transition: all 0.2s;
	filter: brightness(100%);
    }
}
